.search__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 550;
    padding: 10px;
    padding-top: 0;
    margin: auto;
    border: solid 3px black;
    border-radius: 4px;
    background-color:#B08D7E;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

input {
    margin: auto;
    width: 100%;
}

.filterquery {
    padding: 10px;
    width: 90%;
    border: 1px solid black;
}

select {
    margin: auto;
    width: 100%;
    border: 1px solid black;
}

.search__button {
    font-weight: 550;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100%;
    border: 0;
    background-color: #d31111;
    border-radius: 5px;
    color: #bdbcbc;
    font-size: 12px;
    height: var(--note-button-height);
    position: relative;    
}