.cooklist__page {
    margin: auto;
    width: 97%;
    max-width: 500px;
}

.cooklist {
    --note-height: 100px;
    color: #000000;
    height: var(--note-height);
    margin-bottom: 8px;
    max-width: 380px;
    padding: 8px 0 8px 8px;
    position: relative;
    border: 2px solid black;
    border-radius: 3px;
}

.cooklist__delete {
    --note-button-height: 32px;
    background-color: #383838;
    border: 0;
    border-radius: 5px;
    color: #bdbcbc;
    float: right;
    font-size: 12px;
    height: var(--note-button-height);
    position: relative;
    top: calc((var(--note-button-height) + 29px) * -1);
    transform-origin: right bottom;
    transform: rotate(-90deg);
    width: calc(var(--note-height));
}

.cooklist__delete:hover {
    background-color: #bd0909;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.cooklist__title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
    text-align: center;
}

.cooklist__title a {
    color: #000000;
    display: block;
    text-decoration: none;
}

.cooklist__title a:hover {
    color: #2fe0ff;
}