/* APP - app.css *************************/

.App {
    --custom-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
    min-height: 100vh;
}

.App__nav {
    background-color: #2e2e2e;
    color: #fff;
    grid-area: sidebar;
    height: 100vh;
    overflow: auto;
}

.App__header {
    background-color: #666666;
    color: #bdbdbd;
    font-family: var(--custom-font);
    grid-area: header;
    padding-left: 20px;
    padding-top: 22px;
}

.App__header a {
    color: #ffffff;
    text-decoration: none;
}

.App__main {
    background-color: #ffffff;
    grid-area: main;
    height: calc(100vh - 120px);
    overflow: auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.NoteListSidebar {
    padding-left: 1em;
}

.NoteListSidebar {
    text-align: left;
}

/* NAV - notepagenav.css ********************/

.NotePageNav__back-button {
    margin: 45px 20px 25px auto
}

.NotePageNav__back-button:hover {
    background-color: #2fffaf;
}

.NotePageNav__folder-name {
    color: #ffffff;
    font-family: var(--custom-font);
    font-size: 40px;
    height: 50vh;
    margin: 0 0 0 auto;
    text-orientation: upright;
    width: 75px;
    writing-mode: vertical-lr;
}

/* NOTELISTNAV *************************/

.NoteListNav__list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
}

.NoteListNav__button-wrapper {
    margin: 0 0 0 auto;
    max-width: 180px;
}

/*.NoteListNav__add-folder-button {
    margin: 20px auto;
  }
  
  .NoteListNav__add-folder-button:hover {
    background-color: #8f8f8f;
    color: white;
}*/

.HomePage__nav-link {
    /*background-color: #4b4b4b;
    color: #b5b3b3;
    */
    display: flex;
    font-family: var(--custom-font);
    font-size: 20px;
    max-width: 180px;
    padding: 8px 16px;
    text-decoration: none;
}

.NoteListNav__folder-link {
    background-color: #4b4b4b;
    color: #b5b3b3;
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 8px auto;
    max-width: 180px;
    padding: 8px 16px;
    text-decoration: none;
}

.NoteListNav__folder-link:hover {
    color: #2fffaf;
    cursor: pointer;
}

.NoteListNav__folder-link.active {
    background-color: #ffd900;
    color: black;
}

.NoteListNav__num-notes {
    color: #adadad;
    display: block;
    float: right;
    font-size: 10px;
}

/*index.css from eztrakr ***************************************/

.recipe {
    padding: 10px;
    padding-top: 0;
    margin: 0;
    align-content: center;
    display: inline-block;
    width: 80%;
    border: solid 3px black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: white;
}